<p><strong>Thanks for submitting <%= link_to "your proposal", proposal_path(@proposal) %> to Linux Plumbers Conf!</strong></p>

<h3>Next Steps</h3>

<p>You'll be hearing back from us by August 3rd. Proposal submissions will be
closed starting June 15th.</p>

<h4>Get to Portland</h4>

<p>Check out the <a href='/2009/attend/'>attend</a> page for useful travel information. 

<h4>Stay connected</h4>

<ul>
<li><a href="http://linuxplumbersconf.org/2009/feed/" title="Linux Plumbers Conf 2009 latest posts" rel="alternate" type="application/rss+xml">Blog Feed</a></li>
<li><a href="https://twitter.com/linuxplumbers">Twitter</a></li>
<li><a href="https://identi.ca/linuxplumbers">identi.ca</a></li>
<li><a href="http://lists.osuosl.org/mailman/listinfo/announce">Announce list</a></li>
<li><a href="http://planet.linuxplumbersconf.org/">Planet LPC</a></li>
</ul>

