<p><strong>Thanks for submitting <%= link_to "your proposal", proposal_path(@proposal) %> to Linux Plumbers Conf!</strong></p>

<h3>Next Steps</h3>

<p>You'll be hearing back from us by August 3rd. Proposal submissions will be
closed starting June 15th.</p>

<h4>Get to Portland</h4>

<p>Check out the <a href='/2009/attend/'>attend</a> page for useful travel information. 
